<form class="text-center border border-light p-5 mb-5" action="/users/changepassword" method="POST">

    <% if( typeof(alert) !== 'undefined'){ %>
    <div class="alert alert-<%= alert.type %>" role="alert">
        <%= alert.message  %>
    </div>
    <% } %>
    <!-- Password -->
    <input name="password" autocomplete="current-password" type="password" class="form-control mb-4" required
        placeholder="Mật Khẩu Hiện Tại">
    <!-- New Password-->
    <input name="newpassword" autocomplete="current-password" type="password" class="form-control mb-4" required
        placeholder="Mật Khẩu Mới">
    <!-- Confirm password-->
    <input name="cfpassword" autocomplete="current-password" type="password" class="form-control mb-4" required
        placeholder="Nhập Lại Mật Khẩu Mới">
    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Đổi Mật Khẩu</button>

</form> 