<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <div class="container">
        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Steve Jobs</h5>
                    <p>“Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by
                        dogma—which is living with the results of other people’s thinking. Don’t let the noise of
                        others’ opinions drown out your own inner voice. And most important, have the courage to follow
                        your heart and intuition.”</p>
                    <p> “We don’t get a chance to do that many things, and every one should be really excellent. Because
                        this is our life. Life is brief, and then you die, you know? And we’ve all chosen to do this
                        with our lives. So, it better be damn good. It better be worth it.”</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Bill Gates</h5>
                    <p>“Don’t compare yourself with anyone in this world… if you do so, you are insulting yourself.”
                        Everyone is unique, and they should be proud of it. Being successful is subjective. It is
                        important to be happy with your life."</p>
                    <p> “To win big, you sometimes have to take big risks.”
                        Success can never be had sitting idle and taking small steps. You have to take a risk to make it
                        big in life."</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->

        <!-- Copyright -->
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#">Multiple Choice TLU</a>
    </div>
</footer>
<!-- Footer -->