<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(/img/tlu-cover.jpg);background-position: bottom; background-size:cover;background-repeat: no-repeat;">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
            <!-- Content -->
            <h5 class="h5 info-text"><i class="fas fa-graduation-cap"></i> Multiple Choice TLU <i class="fas fa-graduation-cap"></i></h5>
            <h2 class="card-title h2 my-4 py-2">Welcome to our system</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5">“Your time is limited, so don’t waste it living someone else’s life.” - Steve Jobs</p>
            <a class="btn aqua-gradient" href="/users/login"><i class="fas fa-sign-in-alt"></i> <%= (typeof(user) !== 'undefined') ? 'Thông Tin Cá Nhân': 'Đăng Nhập Vào Hệ Thống'  %> </a>
        </div>
    </div>
</div>
<!-- Jumbotron -->