<!-- Card -->
<div class="card my-5 text-center p-5">

    <!-- Card image -->

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title text-center">Kแบฟt Quแบฃ Bรi Thi</h4>
        <!-- Text -->
        <p class="card-text">๐Tแปng Sแป ฤiแปm ฤแบกt ฤฦฐแปฃc ๐</p>
        <p class="card-text text-success" style="font-size: 30px;"><%= score  %> </p>
        <!-- Button -->
        <a href="/users/logout" class="btn btn-primary">ฤฤng Xuแบฅt</a>

    </div>

</div>
<!-- Card -->