<!-- jQuery -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->
<!-- <script type="text/javascript"></script> -->
<!-- My JS FILE to custome it -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.core.min.js" integrity="sha512-YmjiVItErarS6tvlOF+WGhOgU61/9bsq1lqzBGFeAPJHZdqRFGBy9n3ZKh9YPaxUkxz1GoVd5BEt35GkKd1Wog==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/custome.js"></script>

</body>

</html>